@use '../../../styles.scss' as *;

.bragStart {
  background-color: $black;
  color: $white;
  padding: 24px;
  text-align: center;
  opacity: 1;
  pointer-events: auto;

  .bragTag {
    .fa {
      animation: bounce 2s infinite;
    }
  }
}
