@use '../../../styles/variables' as *;

.bragStart {
  background-color: $black;
  color: $white;
  opacity: 1;
  padding: 24px;
  pointer-events: auto;
  text-align: center;

  .bragTag {
    .fa {
      animation: bounce 2s infinite;
    }
  }
}
