<div *ngIf="loading">Loading...</div>

<div *ngIf="!loading">
  <div
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="150"
    (scrolled)="loadMore()"
  >
    <div class="bragcard" *ngFor="let item of visibleBragItems; let i = index">

      <section class="bragcard-top" [ngClass]="'bg-primary0' + ((i % 6) + 1)">
        <article [ngClass]="'bg-overlay0' + ((i % 6) + 1)">
          <h2 class="bragcard-title">
            <span class="bigger">Brag</span>:
            <span class="smaller">{{ item.rider }} just rode in {{ item.location }}</span>
          </h2>
        </article>
      </section>

      <section class="bragcard-parallax parallax" [style.--parallax-bg]="'url(' + item.image + ')'">
        <article [ngClass]="['bg-overlay0' + ((i % 6) + 1), iframeVisible[i] ? 'float-in-right' : '']">
          <div class="bragcard-map-block" [innerHTML]="item.map"></div>
          <div class="bragcard-quote-block">
            <div class="bragcard-date">
              <strong>{{ item.date }}</strong>
            </div>

            <div class="bragcard-quote" *ngIf="item.description">
              <i class="fa-solid fa-quote-left"></i>
              {{ item.description }}
            </div>

            <div class="bragcard-rider fa-quoteby" *ngIf="item.rider">
              - <a href="#" (click)="filterByRider(item.rider!); $event.preventDefault()">{{ item.rider }}</a>
              <button *ngIf="filteredRider" (click)="filteredRider = null" class="clear-rider-filter-btn">
                Clear Rider Filter
              </button>
            </div>

            <div class="bragcard-tags" *ngIf="item.tags">
              <strong>Tags:</strong>
              <ng-container *ngFor="let tag of item.tags.split(',')">
                <a href="#" (click)="filterByTag(tag.trim()); $event.preventDefault()">{{ tag.trim() }}</a>
                <span *ngIf="tag !== item.tags.split(',')[item.tags.split(',').length - 1]">, </span>
              </ng-container>
              <button *ngIf="filteredTag" (click)="filteredTag = null" class="clear-tag-filter-btn">
                Clear Tag Filter
              </button>
            </div>

            <div class="bragcard-tipcard">
              <h3>
                Brag's Tips for {{ item.location }}
              </h3>
              <ul>
                <li><a href="https://www.komoot.com/">COMING SOON</a></li>
                <li><a href="https://www.komoot.com/">COMING SOON</a></li>
                <li><a href="https://www.komoot.com/">COMING SOON</a></li>
                <li><a href="https://www.komoot.com/">COMING SOON</a></li>
              </ul>
            </div>
          </div>
        </article>
      </section>
    </div>
  </div>
</div>
