<div *ngIf="loading">Loading...</div>
<div *ngIf="!loading">
  <div
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="150"
    (scrolled)="loadMore()">
  <div *ngFor="let item of visibleBragItems; let i = index" class="bragcard">
    <section [ngClass]="'bg-primary0' + ((i % 6) + 1)" class="bragcard-top">
      <article [ngClass]="'bg-overlay0' + ((i % 6) + 1)">
        <h2 class="brag-title">
          <span class="bigger">Brag</span>:
          <span class="smaller">I just rode in {{ item.location }}</span>
        </h2>
        <div class="brag-date"><strong>Ride Date: {{ item.date }}</strong></div>
        <div class="brag-description">{{ item.description }}</div>
        <div class="brag-tips">
          <h3>Brag's Tips for {{ item.location }}</h3>
          <ul>
            <li><a href="https://www.komoot.com/">COMING SOON</a></li>
            <li><a href="https://www.komoot.com/">COMING SOON</a></li>
            <li><a href="https://www.komoot.com/">COMING SOON</a></li>
            <li><a href="https://www.komoot.com/">COMING SOON</a></li>
          </ul>
        </div>
      </article>
    </section>

    <section class="bragard-parallax parallax" [style.--parallax-bg]="'url(' + item.image + ')'">
      <article class="bragMapArticle" [ngClass]="['bg-overlay0' + ((i % 6) + 1), iframeVisible[i] ? 'float-in-right' : '']">
        <div class="brag-iframe" [innerHTML]="item.map"></div>
      </article>
      <button class="show-map-button" (click)="showMap(i)" *ngIf="!iframeVisible[i]">Show Map</button>
    </section>
  </div>
</div>
