@use '../../../styles/variables' as *;

.bragcard {
  section.bragcard-top {
    width: auto;

    article {
      .bragcard-title {
        text-align: center;
      }
    }
  }

  section.bragcard-parallax {
    align-items: stretch;
    display: flex;
    height: auto;
    min-height: 300px;
    padding: 0;

    article.bragcard-article-wrapper {
      border: 1px solid $black;
      box-shadow: none;
      height: 100%;
      margin: 0;
      max-width: 100%;
      min-height: 200px;
      padding: 0;
      position: relative;
      width: 100%;

      .toggle-article-btn {
        background: $black;
        border: none;
        box-shadow: 2px 0 6px rgba(0, 0, 0, 0.1);
        color: $white;
        cursor: pointer;
        font-size: 1.2em;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 32px;
        writing-mode: vertical-lr;
        z-index: 2;
      }

      .bragcard-article-content {
        align-items: stretch;
        display: flex;
        gap: 24px;
        padding: 50px;
        transition:
        transform 0.5s,
        opacity 0.5s;
        //width: calc(100% - 100px);
        will-change: transform, opacity;

        .bragcard-map-block {
          padding: 16px;
          width: 40%;
          iframe {
            max-width: 100%;
          }
        }

        .bragcard-quote-block {
          display: flex;
          flex: 1 1 0;
          flex-direction: column;
          justify-content: flex-start;
          padding: 16px;
          position: relative;
          width: 60%;

          .bragcard-date {
            margin: 16px 0;
          }

          .bragcard-quote {
            font-size: 1.1em;
            margin: 10px 0;

            animation: flicker-shadow 2s infinite alternate;
            border-radius: 5px;
            box-shadow: 2px 5px 20px 2px;
            margin: 30px;
            padding: 24px;
            width: calc(100% - 120px);

            .fa-quote-left {
              font-size: 3.5em;
              margin-right: 8px;
            }
          }

          .bragcard-rider {
            margin-top: 16px;
            text-align: right;

            button {
              margin-left: 16px;
            }
          }
        }

        .bragcard-tipcard {

        }

        .bragcard-tags {
          margin-top: 16px;

          strong {
            margin-right: 5px;
          }

          button {
            margin-left: 16px;
          }
        }

        @media screen and (max-width: 1024px) {
          flex-direction: column;
          gap: 0;

          .bragcard-map-block,
          .bragcard-quote-block {
            position: static;
            width: 100%;
          }

          .bragcard-tipcard {
            bottom: auto;
            margin: 20px 0 0 0;
            position: static;
            width: 100%;
          }
        }
      }
    }
  }
}
