@use '../../../styles.scss' as *;

section.header-before {
  width: 100%;

  article {
    margin: 0 auto;
    padding: 1px 16px;
    width: 100%;
    max-width: 1400px;
  }
}

header {
  background-color: $black;
  position: relative;
  height: calc(100vh - 200px);
  overflow: hidden;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background-image: url(/assets/img/brags/OCC-2025.jpg);
  min-height: 100%;
  position: relative;
  background-attachment: fixed;
  background-position: center calc(100% - 60px);
  background-repeat: no-repeat;
  background-size: cover;
}
