// Font size variables
$base-font-size: 18px;
$base-font-family: sans-serif;

// Color variables
$white: #ffffff;
$black: #000000;
$primary: #ad3836;
$primary01: #77473b;
$primary02: #f3bc7d;
$primary03: #f5eacf;
$primary04: #ceb793;
$primary05: #595a41;
$primary06: #345057;
$overlay: rgba(173, 56, 54, 0.85);
$overlay01: rgba(119, 71, 59, 0.85);
$overlay02: rgba(243, 188, 125, 0.85);
$overlay03: rgba(245, 234, 207, 0.85);
$overlay04: rgba(206, 183, 147, 0.85);
$overlay05: rgba(89, 90, 65, 0.85);
$overlay06: rgba(52, 80, 87, 0.85);
