<div *ngIf="loading">Loading...</div>
<div *ngIf="!loading">
  <div
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="150"
    (scrolled)="loadMore()">
  <div *ngFor="let item of visibleBragItems; let i = index" class="bragcard">
    <section [ngClass]="'bg-primary0' + ((i % 6) + 1)">
      <article [ngClass]="'bg-overlay0' + ((i % 6) + 1)">
        <h2 class="brag-title">
          <span class="bigger">Brag</span>:
          <span class="smaller">{{ item.location }}</span>
        </h2>
        <div class="brag-date"><strong>{{ item.date }}</strong></div>
        <div class="brag-description">{{ item.description }}</div>
      </article>
    </section>

    <section class="parallax" [style.--parallax-bg]="'url(' + item.image + ')'">
      <article class="bragMapArticle" [ngClass]="['bg-overlay0' + ((i % 6) + 1), iframeVisible[i] ? 'float-in-right' : '']">
        <iframe
          class="brag-iframe"
          [attr.src]="item.map"
          width="100%"
          height="600"
          frameborder="0"
          scrolling="no"
          title="Brag Map"
          loading="lazy">
        </iframe>
      </article>
    </section>
  </div>
</div>
