@font-face {
  font-family: 'Brat';
  src: url('assets/fonts/brat/brat.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Thinking';
  src: url('assets/fonts/Thinking.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
// Font size variables
$base-font-size: 18px;
$base-font-family: sans-serif;
// Headers
h1 {
  font-family: 'Thinking';
  font-size: 5em;
  line-height: 0;
  text-shadow: 10px 10px 8px rgba(0, 0, 0, 0.9);
  z-index: 3;

  .bigger {
    font-family: 'Brat';
    font-size: 1.5em;
    padding: 0 20px;
  }

  @media screen and (max-width: 640px) {
    font-size: 2.5em;

    .bigger {
      font-size: 1.3em;
    }
  }
}
h2 {
  font-size: 3em;
  font-family: 'Thinking';
  font-weight: bold;
  line-height: 1.2em;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);

  .bigger {
    font-size: 1.5em;
    font-family: 'Brat';
    padding: 0 5px;
  }

  @media screen and (max-width: 640px) {
    font-size: 2em;

    .bigger {
      font-size: 1.3em;
    }
  }
}
h3 {
  font-size: 2em;
  font-family: 'Thinking';
  line-height: 0;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);

  .bigger {
    font-size: 1.5em;
    font-family: 'Brat';
    padding: 0 5px;
  }

  @media screen and (max-width: 640px) {
    font-size: 1.5em;

    .bigger {
      font-size: 1.3em;
    }
  }
}
h4 {
  font-size: 1.25em;
  font-family: 'Thinking';
  line-height: 0;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);

  .bigger {
    font-size: 1.5em;
    font-family: 'Brat';
    padding: 0 5px;
  }
  @media screen and (max-width: 640px) {
    font-size: 1.2em;

    .bigger {
      font-size: 1.3em;
    }
  }
}
.bragTag {
  font-size: 4em;
  font-family: 'Thinking';
  .bigger {
    font-size: 1.5em;
    font-family: 'Brat';
    padding: 0 5px;
  }
  @media screen and (max-width: 640px) {
    font-size: 1em;

    .bigger {
      font-size: 1em;
    }
  }
}

// Color variables
$white: #ffffff;
$black: #000000;
$primary01: #77473b;
$primary02: #f3bc7d;
$primary03: #f5eacf;
$primary04: #ceb793;
$primary05: #595a41;
$primary06: #345057;
$overlay01: rgba(119, 71, 59, 0.8);
$overlay02: rgba(243, 188, 125, 0.8);
$overlay03: rgba(245, 234, 207, 0.8);
$overlay04: rgba(206, 183, 147, 0.8);
$overlay05: rgba(89, 90, 65, 0.8);
$overlay06: rgba(52, 80, 87, 0.8);

.bg-primary01 {
  background-color: $primary01;
  color: $white;
  a {
    color: $white;
    &:hover {
      text-decoration: none;
    }
  }
}
.bg-primary02 {
  background-color: $primary02;
  color: $black;
  a {
    color: $black;
    &:hover {
      text-decoration: none;
    }
  }
}
.bg-primary03 {
  background-color: $primary03;
  color: $black;
  a {
    color: $black;
    &:hover {
      text-decoration: none;
    }
  }
}
.bg-primary04 {
  background-color: $primary04;
  color: $black;
  a {
    color: $black;
    &:hover {
      text-decoration: none;
    }
  }
}
.bg-primary05 {
  background-color: $primary05;
  color: $white;
  a {
    color: $white;
    &:hover {
      text-decoration: none;
    }
  }
}
.bg-primary06 {
  background-color: $primary06;
  color: $white;
  a {
    color: $white;
    &:hover {
      text-decoration: none;
    }
  }
}
.bg-overlay01 {
  background-color: $overlay01;
  color: $white;
  a {
    color: $white;
    &:hover {
      text-decoration: none;
    }
  }
}
.bg-overlay02 {
  background-color: $overlay02;
  color: $black;
  a {
    color: $black;
    &:hover {
      text-decoration: none;
    }
  }
}
.bg-overlay03 {
  background-color: $overlay03;
  color: $black;
  a {
    color: $black;
    &:hover {
      text-decoration: none;
    }
  }
}
.bg-overlay04 {
  background-color: $overlay04;
  color: $black;
  a {
    color: $black;
    &:hover {
      text-decoration: none;
    }
  }
}
.bg-overlay05 {
  background-color: $overlay05;
  color: $white;
  a {
    color: $white;
    &:hover {
      text-decoration: none;
    }
  }
}
.bg-overlay06 {
  background-color: $overlay06;
  color: $white;
  a {
    color: $white;
    &:hover {
      text-decoration: none;
    }
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
  40% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-10px);
  }
  80% {
    transform: translateY(0);
  }
}
@keyframes floatInRight {
  from {
    opacity: 0;
    transform: translateX(100vw);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.float-in-right {
  animation: floatInRight 1s ease-out;
}



// Parallax utility class
.parallax {
  position: relative;
  min-height: 60vh;
  width: auto;
  background-image: var(--parallax-bg);
  //background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;

  article {
    border-radius: 8px;
    padding: 24px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.8);
    width: 25%;
    margin-left: 50px;

    @media screen and (max-width: 1024px) {
      margin-left: 10px;
      width: calc(100% - 70px);
    }
  }
}



body {
  margin: 0 !important;
  font-size: $base-font-size;
  font-family: $base-font-family;
}
main {
  width: 100%;
  min-height: 100%;

  section {
    width: 100%;
    padding: 14px;

    article {
      width: 100%;
      max-width: 1400px;
      margin: 30px auto;
    }
    article.bragMapArticle:not(.float-in-right) {
      opacity: 0;
    }
  }
}

.bragcard-top {
  width: auto;
}

.bragMapArticle iframe {
  max-width: 100%;
}
